# Ignore everything
/*
/*/
 
# Inverse ignore some stuff
!/Assets/
!/ProjectSettings/
!.gitignore
 
# OS Stuff
.DS_Store
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
$RECYCLE.BIN/
Desktop.ini
/Assets/Scifi Art Demo Pack/Background Demo/Background_1.png
/Assets/Scifi Art Demo Pack/Background Demo/Background_1.png.meta
/Assets/Scifi Art Demo Pack/Background Demo/Background_2.png
/Assets/Scifi Art Demo Pack/Background Demo/Background_2.png.meta
/Assets/Scifi Art Demo Pack/Background Demo/Background_Cloud2.png
/Assets/Scifi Art Demo Pack/Background Demo/Background_Cloud2.png.meta
/Assets/Scifi Art Demo Pack/Background Demo/Forest_Hill1.png
/Assets/Scifi Art Demo Pack/Background Demo/Forest_Hill1.png.meta
/Assets/Scifi Art Demo Pack/Background Demo/Forest_Hill2.png
/Assets/Scifi Art Demo Pack/Background Demo/Forest_Hill2.png.meta
/Assets/Scifi Art Demo Pack/Background Demo/Ground_Dirt.png
/Assets/Scifi Art Demo Pack/Background Demo/Ground_Dirt.png.meta
/Assets/Scifi Art Demo Pack/Background Demo/Ground_DirtGrass.png
/Assets/Scifi Art Demo Pack/Background Demo/Ground_DirtGrass.png.meta
/Assets/Scifi Art Demo Pack/Background Demo/Ground_Grassy.png
/Assets/Scifi Art Demo Pack/Background Demo/Ground_Grassy.png.meta
/Assets/Scifi Art Demo Pack/Background Demo/Ground_Water.png
/Assets/Scifi Art Demo Pack/Background Demo/Ground_Water.png.meta
/Assets/Scifi Art Demo Pack/Background Demo/Machine_Background2.png
/Assets/Scifi Art Demo Pack/Background Demo/Machine_Background2.png.meta
/Assets/Scifi Art Demo Pack/Pipes Demo
/Assets/Scifi Art Demo Pack/Pipes Demo/Gray_CurvePipe.png
/Assets/Scifi Art Demo Pack/Pipes Demo/Gray_CurvePipe.png.meta
/Assets/Scifi Art Demo Pack/Pipes Demo/Pipe_Gray.png
/Assets/Scifi Art Demo Pack/Pipes Demo/Pipe_Gray.png.meta
/Assets/Scifi Art Demo Pack/Pipes Demo/Pipe_GrayLong.png
/Assets/Scifi Art Demo Pack/Pipes Demo/Pipe_GrayLong.png.meta
/Assets/Scifi Art Demo Pack/Pipes Demo/Pipe_GrayShort.png
/Assets/Scifi Art Demo Pack/Pipes Demo/Pipe_GrayShort.png.meta
/Assets/Scifi Art Demo Pack/Pipes Demo/Pipe_GreenShort.png
/Assets/Scifi Art Demo Pack/Pipes Demo/Pipe_GreenShort.png.meta
/Assets/Scifi Art Demo Pack/Platform Demo
/Assets/Scifi Art Demo Pack/Platform Demo/Float_Platform1.png
/Assets/Scifi Art Demo Pack/Platform Demo/Float_Platform1.png.meta
/Assets/Scifi Art Demo Pack/Platform Demo/Float_Platform2.png
/Assets/Scifi Art Demo Pack/Platform Demo/Float_Platform2.png.meta
/Assets/Scifi Art Demo Pack/Platform Demo/Forest_Platform.png
/Assets/Scifi Art Demo Pack/Platform Demo/Forest_Platform.png.meta
/Assets/Scifi Art Demo Pack/Platform Demo/Gray_Pipe.png
/Assets/Scifi Art Demo Pack/Platform Demo/Gray_Pipe.png.meta
/Assets/Scifi Art Demo Pack/Platform Demo/Gray_Ramp.png
/Assets/Scifi Art Demo Pack/Platform Demo/Gray_Ramp.png.meta
/Assets/Scifi Art Demo Pack/Platform Demo/Gray_Wall1.png
/Assets/Scifi Art Demo Pack/Platform Demo/Gray_Wall1.png.meta
/Assets/Scifi Art Demo Pack/Platform Demo/pillar.png
/Assets/Scifi Art Demo Pack/Platform Demo/pillar.png.meta
/Assets/Scifi Art Demo Pack/Platform Demo/Platform1.png
/Assets/Scifi Art Demo Pack/Platform Demo/Platform1.png.meta
/Assets/Scifi Art Demo Pack/Platform Demo/Platform_Ramp.png
/Assets/Scifi Art Demo Pack/Platform Demo/Platform_Ramp.png.meta
/Assets/Scifi Art Demo Pack/Platform Demo/RustyFloat_Platform1.png
/Assets/Scifi Art Demo Pack/Platform Demo/RustyFloat_Platform1.png.meta
/Assets/Scifi Art Demo Pack/Platform Demo/RustyFloat_Platform2.png
/Assets/Scifi Art Demo Pack/Platform Demo/RustyFloat_Platform2.png.meta
/Assets/Scifi Art Demo Pack/Platform Demo/RustyWall1.png
/Assets/Scifi Art Demo Pack/Platform Demo/RustyWall1.png.meta
/Assets/Scifi Art Demo Pack/Platform Demo/Rusty_Wall4.png
/Assets/Scifi Art Demo Pack/Platform Demo/Rusty_Wall4.png.meta
/Assets/Scifi Art Demo Pack/Platform Demo/Walkway2.png
/Assets/Scifi Art Demo Pack/Platform Demo/Walkway2.png.meta
/Assets/Scifi Art Demo Pack/Platform Demo/Walkway6.png
/Assets/Scifi Art Demo Pack/Platform Demo/Walkway6.png.meta
/Assets/Scifi Art Demo Pack/Prop Demo
/Assets/Scifi Art Demo Pack/Prop Demo/BlueScrap2.png
/Assets/Scifi Art Demo Pack/Prop Demo/BlueScrap2.png.meta
/Assets/Scifi Art Demo Pack/Prop Demo/BlueScrap3.png
/Assets/Scifi Art Demo Pack/Prop Demo/BlueScrap3.png.meta
/Assets/Scifi Art Demo Pack/Prop Demo/Clouds1.png
/Assets/Scifi Art Demo Pack/Prop Demo/Clouds1.png.meta
/Assets/Scifi Art Demo Pack/Prop Demo/Clouds2.png
/Assets/Scifi Art Demo Pack/Prop Demo/Clouds2.png.meta
/Assets/Scifi Art Demo Pack/Prop Demo/Clouds3.png
/Assets/Scifi Art Demo Pack/Prop Demo/Clouds3.png.meta
/Assets/Scifi Art Demo Pack/Prop Demo/Clouds4.png
/Assets/Scifi Art Demo Pack/Prop Demo/Clouds4.png.meta
/Assets/Scifi Art Demo Pack/Prop Demo/Clouds5.png
/Assets/Scifi Art Demo Pack/Prop Demo/Clouds5.png.meta
/Assets/Scifi Art Demo Pack/Prop Demo/Gizmo_11.png
/Assets/Scifi Art Demo Pack/Prop Demo/Gizmo_11.png.meta
/Assets/Scifi Art Demo Pack/Prop Demo/Gizmo_5.png
/Assets/Scifi Art Demo Pack/Prop Demo/Gizmo_5.png.meta
/Assets/Scifi Art Demo Pack/Prop Demo/Gizmo_7.png
/Assets/Scifi Art Demo Pack/Prop Demo/Gizmo_7.png.meta
/Assets/Scifi Art Demo Pack/Prop Demo/Rubble.png
/Assets/Scifi Art Demo Pack/Prop Demo/Rubble.png.meta
/Assets/Scifi Art Demo Pack/Prop Demo/Rubble1.png
/Assets/Scifi Art Demo Pack/Prop Demo/Rubble1.png.meta
/Assets/Scifi Art Demo Pack/Prop Demo/Scrap1.png
/Assets/Scifi Art Demo Pack/Prop Demo/Scrap1.png.meta
/Assets/Scifi Art Demo Pack/Prop Demo/Scrap2.png
/Assets/Scifi Art Demo Pack/Prop Demo/Scrap2.png.meta
/Assets/Scifi Art Demo Pack/Prop Demo/Scrap3.png
/Assets/Scifi Art Demo Pack/Prop Demo/Scrap3.png.meta
/Assets/Scifi Art Demo Pack/Prop Demo/Scrap4.png.png
/Assets/Scifi Art Demo Pack/Prop Demo/Scrap4.png.png.meta
/Assets/Scifi Art Demo Pack/Prop Demo/Wood_Bridge.png
/Assets/Scifi Art Demo Pack/Prop Demo/Wood_Bridge.png.meta
/Assets/Scifi Art Demo Pack/Prop Demo/Wood_Fence.png
/Assets/Scifi Art Demo Pack/Prop Demo/Wood_Fence.png.meta
/Assets/Scifi Art Demo Pack/Background Demo.meta
/Assets/Scifi Art Demo Pack/Demo Readme.txt
/Assets/Scifi Art Demo Pack/Demo Readme.txt.meta
/Assets/Scifi Art Demo Pack/Pipes Demo.meta
/Assets/Scifi Art Demo Pack/Platform Demo.meta
/Assets/Scifi Art Demo Pack/Prop Demo.meta
